$easing-inQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easing-outQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easing-inOutExpo: cubic-bezier(1, 0, 0, 1);
$easing-inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
